<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Email Creator</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Email Creator API.</h1>
		<p>Marketing Monkeys Test Email Creator API- Please write the website's name without the www.</p>
     <form action="/name" method="post">
      <label>First Name :</label>
      <input type="text" name="first" value="John"><br>
      <label>Last Name :</label>
      <input type="text" name="last" value="Doe"><br>
      <label>Website :</label> 
      <input type="text" name="website" value="marketingmonkeys.ch"><br><br>
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>