<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>FCC Shorturl API</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>FCC Short URL API.</h1>
		<p>Short URL API</p>
     <form action="/url" method="post">
      <label> URL to Shorten :</label>
      <input type="text" name="url" value="https://mongoosejs.com/docs/middleware.html"><br>
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>