<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Company Website Creator</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Website Creator API.</h1>
		<p>Marketing Monkeys Test Website Creator API-</p>
     <form action="/web" method="post">
      <label> Company Name :</label>
      <input type="text" name="company" value="Marketing Monkeys"><br>
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>